name: smart_pill_dispenser_reminder
description: A smart pill reminder app
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  shared_preferences: ^2.2.2
  flutter_local_notifications: ^17.2.4
  timezone: ^0.9.2
