PORT=3000
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=smart_pill_reminder
MYSQL_PORT=3306
ADMIN_EMAIL=admin@medisafe.com
ADMIN_PASSWORD=admin123
OPENFDA_BASE_URL=https://api.fda.gov
OPENFDA_API_KEY=
